.contain{
    width: 45%;
    border: solid 3px;
    margin-left: 30%;
}
.container{
    display: flex;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    text-align: justify;
}
.contain h2{
    margin-left: 10px;
}
.container .para {
    margin: 20px;
}
.html{
    display: flex;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 50px;
}